// Reset Css
@import 'base/reset';

// Abstract Css
@import 'abstract/mixin';
@import 'abstract/variables';
@import 'abstract/fonts';

// Layout Css
// Header section
@import 'layouts/header';

// Components Css
// Hero Slider Section
@import 'components/heroSlider';
@import 'components/button';
@import 'components/animation';

// Vendor Css
@import 'vendor/slick';

// Make Commerce human section start
.commerce-human{
    width: 100%; background-color: $body-bg-color;
    padding: 100px 30px; overflow: hidden;
    .commerce-human__row{
        width: 100%;height: auto;
        @include flexbox; justify-content: space-between ;

        .commerce-human_col1{
            width: 45%; flex: 0 0 45%;
        }
        .commerce-human_col2{
            width: 47%; flex: 0 0 47%;
            .heading{
                .sub-title{@include sub-title;padding-right: 100px;}
                .sub-text{@include text;}
            }
            .botton-tabs{
                margin: 20px 0 0;
                .tab__title{font-size: 1.5rem;color: $navLink;font-family: $Montserrat-Bold;margin-bottom: 10px;}
            }
        }
    }

    @media screen  and (max-width:1366px){
        .commerce-human__row{
            .commerce-human_col2{
                .heading{
                    .sub-title{padding-right: 50px;}
                }
                .botton-tabs{
                    margin: 20px 0 0;
                    .tab__title{font-size: 1.25rem;}
                }
            }
        }
    }

    @media screen and (max-width:991px) {
        padding: 50px 20px;
        .commerce-human__row{
            .commerce-human_col1{width: 49%; flex: 0 0 49%;}
            .commerce-human_col2{width: 48%; flex: 0 0 48%;}
        }
    }

    @media screen and (max-width:767px) {
        .commerce-human__row{
            .commerce-human_col1{width: 100%; flex: 0 0 100%;order: 2;}
            .commerce-human_col2{width: 100%; flex: 0 0 100%; order: 1}
        }
    }
}
// Make Commerce human section end

// make it categiory
@import 'components/makeIt';

// Our Solution Section Start
.our-solution{
    width: 100%;background-color: $body-bg-color;
    padding: 150px 50px; position: relative; overflow: hidden;
    .our-solution__row{
        width: 100%; @include flexbox; justify-content: space-evenly;
        .our-solution__col1{
            width: 40%;flex: 0 0 40%;
            @include flexbox; justify-content: space-evenly;
            gap: 50px;
            .our-solution__category{
                text-align: center; margin: auto;
                .category__cir{
                    width: 200px;height: 200px;
                    background-color: $white;border-radius: 50%;
                    @include flexbox; justify-content: center;
                    margin-bottom: 20px; box-shadow: 0 0 10px $shadow-color;
                    transition: all 1s;
                    .img-fluid{width: 50%;transition: 1s;}

                    &:hover{
                        .img-fluid{transform: scale(1.1);}
                    }
                }
                .category__title{
                    font-size: 1.375rem; text-transform: uppercase;
                    font-family: $Montserrat-Bold; color: $navy-blue;
                }
            }
        }
        .our-solution__col2{
            width: 40%;flex: 0 0 40%;
            .heading{
                .sub-title{@include sub-title;}
                .sub-text{@include text;margin-bottom: 50px;}
            }
        }
    }
    .dot{position: absolute;width: 20%;top: 5%;left: 5%;}
    .cross{position: absolute;width: 10%;bottom: 5%;right: 5%;}

    @media screen and (max-width:1366px) {
        .our-solution__row{
            .our-solution__col1{
                gap: 30px;
                .our-solution__category{
                    .category__cir{
                        width: 150px;height: 150px;
                    }
                    .category__title{font-size: 1.125rem}
                }
            }
        }
    }

    @media screen and (max-width:991px) {
        .our-solution__row{
            .our-solution__col1{
                width: 48%;flex: 0 0 48%; gap: 20px;
                .our-solution__category{
                    .category__cir{width: 130px;height: 130px;}
                    .category__title{font-size: 1rem;}
                }
            }
            .our-solution__col2{width: 48%; flex: 0 0 48%;}
        }
    }

    @media screen and (max-width:767px) {
        padding: 100px 30px;
        .our-solution__row{
            flex-wrap: nowrap; flex-direction: column;
            .our-solution__col1{
                width: 100%;flex: 0 0 100%; order:2; 
                .our-solution__category{
                    width: 40%; margin-bottom: 20px;
                    .category__cir{width: 150px;height: 150px;margin:0 auto 15px;}
                    .category__title{font-size: 1rem;}
                } 
            }
            .our-solution__col2{
                width: 100%; flex: 0 0 100%;order: 1;margin-bottom: 20px;
                .heading{
                    .sub-text{margin-bottom: 30px}
                }
            }
        }
    }

    @media screen and (max-width:425px) {
        .our-solution__row{
            .our-solution__col1{
                .our-solution__category{
                    width: 45%; margin-bottom: 20px;
                    .category__cir{width: 100px;height: 100px;margin:0 auto 15px;}
                    .category__title{font-size: .875rem;}
                } 
            }
            .our-solution__col2{
                width: 100%; flex: 0 0 100%;order: 1;margin-bottom: 20px;
                .heading{
                    .sub-text{margin-bottom: 30px}
                }
            }
        }
    }
}
// Our Solution Section end

// Our customer Slider
@import 'components/customerSlider';

// resources section start
.resources{
    width: 100%; background-color: $body-bg-color; padding: 100px 50px;
    overflow: hidden;
    .resources__row{
        width: 100%; @include flexbox; justify-content: space-between;
        align-items: stretch;
        .resources__col-1{
            width: 50%; flex: 0 0 50%; text-align: center;
            .heading{
                .sub-title{@include sub-title;}
                margin-bottom: 40px;
            }
            .img-fluid{width: 80%;margin-bottom: 20px;}
        }
        .resources__col-2{
            width: 45%; flex: 0 0 45%;
            display: flex; flex-direction: column;
            .resource-media{
                width: 100%;
                @include flexbox; justify-content: center;
                margin-bottom: 50px;
                .media__images{
                    width: 38%;flex: 0 0 38%;margin-right: 30px;
                }
                .media__content{
                    width: 55%;flex: 0 0 55%;
                    &_title{
                        font-size: 1.5rem;font-family: $Montserrat-Bold;
                        line-height: 30px;
                    }
                    &_text{
                        @include text;text-align: left; margin: 10px 0;
                        display: inline-block;
                    }
                    
                }
            }
        }
    }

    @media screen and (max-width:1366px) {
        .resources__row{
            .resources__col-1{
                .img-fluid{width: 75%;margin-bottom: 20px;}
            }
            .resources__col-2{
                .resource-media{
                    margin-bottom: 30px;
                    .media__images{
                        width: 30%;flex: 0 0 30%;margin-right: 30px;
                    }
                    .media__content{
                        &_title{
                            font-size: 1.125rem;line-height: 25px;
                        }
                        &_text{line-height: 20px}
                        
                    }
                }
            }
        }
    }

    @media screen and (max-width:991px) {
        .resources__row{
            .resources__col-1{
                .img-fluid{width:100%}
            }
            .resources__col-2{
                .resource-media{
                    .media__images{
                        width: 35%;flex: 0 0 35%;margin-right: 0;
                    }
                    .media__content{width: 59%;flex: 0 0 59%;}
                }
            }
        }
    }

    @media screen and (max-width:767px) {
        padding: 50px 20px;
        .resources__row{
            .resources__col-1{
                width: 100%;flex: 0 0 100%; text-align: center;
                .img-fluid{width: 75%;display: block;margin: 0 auto 20px;}
            }
            .resources__col-2{
                width: 100%;flex: 0 0 100%; flex-direction: column;
                .resource-media{
                    flex-wrap: nowrap;
                    .media__images{
                        width: 35%;flex: 0 0 35%;margin-right: 0;
                    }
                    .media__content{
                        &_title{
                            font-size: 1rem;line-height: 20px;
                        }
                        &_text{margin: 5px 0;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:575px) {
        .resources__row{
            .resources__col-2{
                .resource-media{
                    .media__content{
                        width: 60%;flex: 0 0 60%;
                    }
                }
            }
        }
    }

    @media screen and (max-width:425px) {
        .resources__row{
            .resources__col-2{
                .resource-media{
                    display: unset;
                    .media__images{
                        width: 100%;flex: 0 0 100%;margin-right: 0px;
                        margin-bottom: 20px;
                    }
                    .media__content{
                        width: 100%;flex: 0 0 100%;
                        text-align: center;
                        &_text{
                            text-align: center
                        }
                        
                    }
                }
            }
        }
    }
}
// resources section end

//In the spotlight slider section start
@import 'components/spotlightSlider';
//In the spotlight slider section end

// Layout Css
// Footer Section
@import 'layouts/footer';