.hero-slider{
    width: 100%; background-color: $body-bg-color; position: relative;
    overflow: hidden;
    padding: 150px 0 50px;
    #heroSlider{
        width: 100%;position: relative; height: 100%;
        .slick-next, .slick-prev{top: 95%}
        .slick-prev {left: 35px;}
        .slick-next {left: 135px;}
    }
    &__row{
        @include flexbox;width: 100%;flex-wrap: nowrap;
        justify-content: space-between; align-items: center;
        .hero-slider__col1{
            width:48%;flex:  0 0 48%;
            padding: 20px 30px; overflow: hidden;
            .heading{
                .hero-title{
                    @include title;
                }
                .hero-text{
                    @include text; padding-right: 100px;
                }

            }
        }
        .hero-slider__col2{
            width: 50%;flex:  0 0 50%; text-align: center;
            position: relative;
            .main-img{
                width: 100%; 
               &.zoomIn{animation:zoomImg 1s linear  forwards ;}
            }
            
            .overlay-content{
                position: absolute; top: 0; left: 0;height: 100%;
                width: 100%;
                .cir{
                    width: 85px;height: 85px;
                    background:linear-gradient(to bottom right, rgba(255,255,255,.5),rgba(255,255,255,8)) ;
                    border-radius: 50%;position: absolute;
                    animation:fadeIn 1s linear forwards ;
                    @include flexbox;justify-content: center;
                    .icon{width: 45%;} 
                    &-search{top: 28%;left: 15%;animation-delay: .3s;}
                    &-list{top: 2%;left: 25%;animation-delay: .5s;}
                    &-cart{top: 10%;right: 22%;animation-delay: .75s;}
                    &-mic{top: 35%;right: 17%;animation-delay: 1s;}  
                }  
                @keyframes fadeIn {
                    from{transform: scale(0);opacity: 0;}
                    to{transform: scale(1);opacity: 1;}
                }              
            }

            @keyframes zoomImg {
                from{width: 0;opacity: 0;}
                to{ width:100% ;opacity: 1;}
            }

        }
        &.slick-slide{display: flex;}

    }
    .count{
        width: 15%; position: absolute; bottom: 5%;
        right: 15px; text-align: center;
        .text{
            font-size: 1.25rem;font-family: $NeuzeitGro-Bold;margin-bottom: 20px;
        }
        .number{
            font-size: 2rem;font-family: $NeuzeitGro-Reg;
            .active{font-family: $NeuzeitGro-Bold;font-size: 2.5rem;}
        }
    }
}

@media screen and (max-width:1366px) {
    .hero-slider{
        #heroSlider{
            width: 100%;position: relative; height: 100%;
            .slick-next, .slick-prev{top: 85%}
            .slick-prev {left: 30px;}
            .slick-next {left: 120px;}
        }
        &__row{
            .hero-slider__col2{
                width: 50%;flex:0 0 50%;
                .main-img{width: 90%;}
                .overlay-content{
                    .cir{
                        width: 75px;height: 75px;
                        .icon{width: 35%;}
                        &-search{top: 28%;left: 10%;    }
                        &-list{top: 2%;left: 20%;}
                        &-cart{top: 5%;right: 30%;}
                        &-mic{top: 30%;right: 20%;}
                    }
                }
            }
        }
        .count{
            width: 14%; position: absolute; bottom: 15%;
            right: 15px; text-align: center;
            .text{
                font-size: 1.125rem;font-family: $NeuzeitGro-Bold;margin-bottom: 20px;
            }
            .number{
                font-size: 1.5rem;font-family: $NeuzeitGro-Reg;
                .active{font-family: $NeuzeitGro-Bold;font-size: 2rem;}
            }
        }
    }
}