.makeIt{
    width: 100%;overflow: hidden;
    .container-fluid{padding: 0;}
    .makeIt__row{
        width: 100%; @include flexbox; gap: 0;
        flex-direction: column; align-items: flex-start;
        .block{
            width: 100%; background:linear-gradient($body-bg-color, $white);
            padding: 100px 40px 0;
            .block__row{
                @include flexbox; justify-content: space-between; align-items: stretch;
                .block__col1{
                    width: 45%;flex: 0 0 45%;
                    .heading{
                        .sub-title{@include sub-title;}
                        .sub-text{@include text;}
                    }
                    .list-group{
                        width: 100%; display: flex; flex-direction: column;
                        gap: 15px; margin-top: 40px;
                        .list-item{
                            width: 100%;@include flexbox;
                            .cir{
                                width: 90px;height: 90px;  border-radius: 50%;
                                background: linear-gradient($cir-gradient);
                                margin-right: 20px;
                            }
                            .list-title{
                                font-size: 1.25rem; font-family: $Montserrat-Bold;
                                .clr{color: $blue-color;display: block;margin-bottom: 10px;}
                                span{color: $blue-color;margin-bottom: 10px;display: inline-block;}
                            }
                        }
                    }
                }
                .block__col2{
                    width: 50%;flex: 0 0 50%;
                    display: flex; align-items: flex-end
                }
            }
        };
    }
}


@media screen and (max-width:1366px) {
    .makeIt{
        .makeIt__row{
            .block{
                .block__row{
                    .block__col1{
                        .list-group{
                            margin-top: 20px;
                            .list-item{
                                .cir{width: 70px;height: 70px;}
                                .list-title{
                                    font-size: 1rem;
                                    span{margin-bottom: 5px;}
                                    .clr{color: $blue-color;display: block;margin-bottom: 8px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}