@font-face {
    font-family:NeuzeitGro-Reg ;
    src: url(../../app/fonts/NeuzeitGro-Regular.ttf);
}
@font-face {
    font-family:NeuzeitGro-Bold ;
    src: url(../../app/fonts//NeuzeitGro-Bold.ttf);
}
@font-face {
    font-family:Montserrat-Reg ;
    src: url(../../app/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family:Montserrat-Bold ;
    src: url(../../app/fonts//Montserrat-Bold.ttf);
}