@font-face {
    font-family:NeuzeitGro-Reg ;
    src: url(../../assets//fonts/NeuzeitGro-Regular.ttf);
}
@font-face {
    font-family:NeuzeitGro-Bold ;
    src: url(../../assets//fonts//NeuzeitGro-Bold.ttf);
}
@font-face {
    font-family:Montserrat-Reg ;
    src: url(../../assets//fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family:Montserrat-Bold ;
    src: url(../../assets//fonts//Montserrat-Bold.ttf);
}