@mixin flexbox {
    display: flex;justify-content: flex-start;
    align-items: center; flex-wrap: wrap;
    flex-direction: row; gap: 15px;
}

@mixin title {
    font-size: 6.25rem;
    font-family: $NeuzeitGro-Reg; 
    font-weight: normal;
    strong{font-family: $NeuzeitGro-Bold;display: block;}
    margin-bottom: 25px;

    @media screen and (max-width:1366px) {
        font-size: 4.5rem; margin-bottom: 20px;
    }
    @media screen and (max-width:991px) {
        font-size: 3.5rem; margin-bottom: 20px;
    }
    @media screen and (max-width:767px) {
        font-size: 3rem; margin-bottom: 20px;
    }

    @media screen and (max-width:425px) {
        font-size: 2.5rem;
    }
}

@mixin sub-title {
    font-size: 6rem;
    font-family: $NeuzeitGro-Reg; 
    font-weight: normal;
    margin-bottom: 25px;
    strong{font-family: $NeuzeitGro-Bold;display: block;}

    @media screen and (max-width:1366px) {
        font-size: 4.25rem; margin-bottom: 20px;
    }
    @media screen and (max-width:991px) {
        font-size: 3rem; margin-bottom: 20px;
    }
    @media screen and (max-width:767px) {
        font-size: 2.625rem; margin-bottom: 10px;
    }
    @media screen and (max-width:425px) {
        font-size: 2rem;
    }
}

@mixin text {
    font-size: 1rem;font-family: $Montserrat-Reg;
    color: $text-color; line-height: 25px;
    text-align: justify; font-weight: 100;
    @include flexbox; flex-direction: column;
    grid-row: 20px;

    @media screen and (max-width:1366px) {
        font-size: .9rem;
    }

    @media screen and (max-width:767px) {
        font-size: .875rem; line-height: 20px;
    }
    @media screen and (max-width:425px) {
        font-size: .8rem; line-height: 20px;
    }
}

