// Colors
$white : #ffffff;
$black : #000000;
$navLink : #061838;
$theme-color : rgba($white, .4);
$shadow-color: rgba($black, .5); 
$text-color :#575757;
$body-bg-color : #F5F5F5; 
$tab-color : #3564FF;
$blue-color : #3564FF;
$cir-gradient : #AAD7FF, #E4D2FF;
$navy-blue:#081A3A;
$footer-link :#8D8C8C;

// Font Face
$NeuzeitGro-Reg  : NeuzeitGro-Reg;
$NeuzeitGro-Bold  : NeuzeitGro-Bold;
$Montserrat-Reg  : Montserrat-Reg;
$Montserrat-Bold  : Montserrat-Bold;